@charset "UTF-8";
/* Desktop */
:root{
    /* Primary */
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    /* Neutral */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}
/* font-family: 'Red Hat Display', sans-serif; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
h2{
    font-weight: 900;
}
h3{
    font-weight: 700;
}
p{
    color: var(--DesaturatedBlue);
}


.sumButtons a:nth-child(1):hover{
    background-color: var(--DesaturatedBlue);
}
.sumButtons a:nth-child(2):hover{
    color: var(--DarkBlue);
}
.sumOffer > a:hover{
    color:var(--DesaturatedBlue);
}
/* Desktop */
@media screen and (min-width:501px) {
    
    main{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 5rem;
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-color: var(--PaleBlue);
    }
    article{
        background-color: white;
        display: block;
        width: min-content;
        border-radius: 25px;
        overflow: hidden;
        box-shadow:  0px 10px 10px 0px hsl(245deg 75% 52% / 15%);
    }
    .sumBody{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 75%;
        margin: auto;
        padding: 2rem 0;
    }
    .sumOffer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        padding: 1rem;
        background: var(--VeryPaleBlue);
        border-radius: 10px;

    }
    .sumOffer > div:nth-child(2){
        width: 100%;
    }
    .sumText{
        text-align: center;
    }
    .sumButtons{
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        justify-content: center;
        text-align: center;
    }
    .sumButtons a{
        text-decoration: none;
        border-radius: 10px;
        background: var(--BrightBlue);
        color:white;
        width: 100%;
        display: block;
        line-height: 3rem;
    }
    .sumButtons a:nth-child(1){
        box-shadow:  0px 10px 10px 0px hsl(245deg 75% 52% / 25%);
    }
    .sumButtons a:nth-child(2){
        color:var(--DesaturatedBlue);
        background: transparent;
    }
    .sumHeader{
        display: flex;
        justify-content: center;
    }
}
/* Mobile */
@media screen and (max-width:500px) {
    h3{
        font-size: 1rem;
    }
    main{
        max-width: 375px;
        display: flex;
        justify-content: center;
        padding: 5rem 1rem;
        background-image: url(images/pattern-background-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top;
        background-color: var(--PaleBlue);
    }
    article{
        background-color: white;
        display: block;
        width: min-content;
        border-radius: 25px;
        overflow: hidden;
        box-shadow:  0px 10px 10px 0px hsl(245deg 75% 52% / 15%);
    }
    .sumHeader{
        display: flex;
        justify-content: center;
    }
    .sumBody{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 75%;
        margin: auto;
        padding: 2rem 0;
    }
    .sumOffer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        padding: 1rem;
        background: var(--VeryPaleBlue);
        border-radius: 10px;

    }
    .sumOffer > div:nth-child(2){
        width: 100%;
    }
    .sumText{
        text-align: center;
    }
    .sumButtons{
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        justify-content: center;
        text-align: center;
    }
    .sumButtons a{
        text-decoration: none;
        border-radius: 10px;
        background: var(--BrightBlue);
        color:white;
        min-width: 100%;
        display: block;
        line-height: 3rem;
    }
    .sumButtons a:nth-child(1){
        box-shadow:  0px 10px 10px 0px hsl(245deg 75% 52% / 25%);
    }
    .sumButtons a:nth-child(2){
        color:var(--DesaturatedBlue);
        background: transparent;
    }
}